.app-inner {
    color: #464646;
    background-color: #f2f2f2;
}

#finishBtn{
    display: none;
}
@media (min-width: 900px) {
.container-custom{
        max-width: 1200px;
        margin: 0 auto;
}
.col-lg-2-custom{
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 192px;
}

}

.underinfo{
 border: 1px solid  #d4d1d1;  
 border-radius: 1%;
}

.fixleftside p  {
    font-size: 10px;
    color: #464646;
    margin-top: 0;
    margin-bottom: 0rem;
}
.btn-mp {
    font-size: 10px;
    padding: 11px 13px 11px 13px!important;
}
.fixleftside i  {
    font-size: 30px;
    color: #a39d9d;

}

.file-upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 50%;
    height: 100px;
    margin: 50px auto;
    background-color: #999f9f!important;
    height: 200px;
    padding: 20px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ccc;
}

input[type="file"] {
    appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    height: 30px;
    text-align: start !important;
    padding: initial;
    border: initial;
}
.file-upload-wrapper .card.card-body input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

#addnewproperty label{
    font-style: normal;
    font-size: 13px;
    font-weight: 500;
     
}
.form-head-text{
    margin-top: 2px;
    margin-bottom: 0rem;
    font-size: 19px;
    font-weight: 900;
    color: #08a396;
}
    
     
input:focus,select:focus {

    box-shadow: 1px #464646 !important;
    border: 1px solid #2ecab5c9 !important;
    outline-width: 1px !important
}

.list-group-item.active {
    z-index: 0;
    color: #000;
    background-color: #0addcb!important;
    border-color: #69d9cac9!important;
}


@media(max-width: 800px){
    .Congo-page{
        padding: 30px 25px 10px 20px;

    }

    .listing-image{
        padding: 0%;

    }
    .congo-head {
    opacity: 0.9;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;

    }
    .congo-text{
    font-size: 12px;
    font-family: auto;
    }

    .btn-congo a {
        text-transform: capitalize;

    }

    .congo-text-2 {
        font-size: 15px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }
}
@media(min-width:1000px){
    .Congo-page{
        padding: 30px 

    }
    .congo-head {
    opacity: 0.9;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;

    }

    .listing-image{
        padding: 0%;

    }
    .btn-congo a {
        text-transform: capitalize;

    }
    .congo-text-2 {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }
}